# -- VARIABLES GLOBALES DISPONIBLES --

# ${PROJECT_NAME}       : Nom du projet, PATH friendly
# ${PROJECTS_DIR}       : Emplacement local où créer le répertoire du projet (Exemple "/home/user/projets")
# ${PROJECT_PATH}       : Emplacement local du répertoire du projet qui contient les fichiers du projet (Exemple "/home/user/projets/nom_projet")

# --

# -- COMMANDE(S) DOCKER A EFFECTUER POUR CRÉER LE PROJET ${PROJECTS_DIR}/${PROJECT_NAME}